.features {
    max-width: 1600px;
    min-height: 251px;
    margin: 94px auto 0 auto;
}
.features-item {
    max-width: 270px;
    margin-right: 30px;
}
.features-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border: none;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
