.header-portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    border-bottom: 1px solid #757575;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}
.address-header {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
}