.team {
    background-color: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}
.team-heading {
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom: 50px;
}