.connected {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    list-style: none;
    padding-left: 70px;
}

.connect-items {
    margin-right: 10px;
}
.connect-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;

    &:hover,
    &:focus {
    background-color: $accent-color;
    }
}